.flash {
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 20px;
}
.bgcolor {
  background-color: #c2edff;
  padding: 0.5em;
}
.title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}

.btn-circle-3d {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  transition: .4s;
}

.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

#slow-btn {
  background: #ff0000;
  border-bottom: solid 3px #bd6565;
}

#fast-btn {
  background: #0000ff;
  border-bottom: solid 3px #6565bd;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr *:nth-child(1){
  background: #000000;
}

table tr {
  background: blue;
}

table th,table td{
  color:white;
  font-size: 50px
  border:solid 1px white;
  text-align: center;
  padding: 5px 0;
}
